*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: yekan;
  src: url('yekan-font/yekan-regular.eot');
  src: url('yekan-font/yekan-regular.eot?#iefix') format('yekan-regular-opentype'),
       url('yekan-font/yekan-regular.woff') format('woff'),
       url('yekan-font/yekan-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
  background: #585959;
  font-family: yekan ;
}


.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #242527;
  color: white;
}



.card-list {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.card {
  width: 400px;
  height: 500px;
  /* background: #fff; */
  margin: 20px 10px;
  border-radius: 10px;
  text-align: center;
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  border-radius: 10px;
}

.card img:hover{

}


.card:hover{ 
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.15);
  scale: calc(105%);
  cursor: pointer;
}

.black{
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  transition: 200ms ease-out;
}

.black:hover{
  background: #000000d8;
  border-radius: 10px;
}

.card a{
  display: none;
  font-size: 18px;
  text-decoration: none;
  color: #242527;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 20;
}


.black:hover>a{
  display: flex;
  color: #fff;
}

.footer{
 width: 100%;
 height: 20px;
 background: #242527;
 text-align: center;
 align-items: center;
 color: #fff;
 position:fixed;
 bottom: 0;
 padding: auto 0;
}

.footer p {
  font-size: 10px;
}